body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* Modificando el ancho del container */
.container {
    margin: 0 auto;
    width: 90%;
  }
  @media only screen and (min-width: 401px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  }

    /* estilo del header */

.navigationBar{
  background-color: #336B87;
}

.logo{
  height: auto;
  left: 8px;
  position: relative;
  top: 5px;
  max-width: 60%;
}
.header{
    background-color: #90AFC5;
    height: fit-content;
    width: 100%;
}
.btnPhoto{
  background-color: #336B87;
}

.down{
  position: relative;
  top: 25px;
}

.bluebtn{
  background-color: #336B87;
}

/* input[type=text]:not(.browser-default){
  border-bottom: 1px solid #336B87;
} */
.tabs .tab a:hover, .tabs .tab a.active{
  color: #336B87
}

.tabs .tab a{
  color: #336B87;
}

.tabs .indicator{
  background-color: #90AFC5;
}

.tabs .tab a:focus.active{
  background-color: rgba(144, 175, 197, 0.6)
}
/* estilo a la parte de contactos */
.principal{
  position: relative;
  top: 20px;
}

.contacts{
  width: 50%;
  height: auto;
}

/* estilo a las imagenes */

.frameImage{
  border: 1px solid #336B87;
  margin: 3px;
}

.c-size{
  height: 20vh;
  overflow: scroll;
  width: 100%;
}

.n-margin{
  margin: 0 !important;
}

.post{
  border: 1px solid black;
}

/* estilo al modal */

.personalInformation{
  background-color: #336B87;
}

.lightBlue{
  background-color: #90AFC5;
}
