body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Modificando el ancho del container */
.container {
    margin: 0 auto;
    width: 90%;
  }
  @media only screen and (min-width: 401px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  }

/* estilo de la barra de navegación */

.navbar{
    background-color: #336B87;
    /* width: 100%; */
}

.logo{
    height: auto;
    width: 70%;
}

/* estilo del header   */

.cardInfo{
    position: relative;
    top: 20px;
}

.bottomBtns{
    font-weight: 400;
    padding: 3px 7px;
}

.follow{
    border: 1px solid #336b87;
    color: #336B87;
}

.add{
    border: 1px solid #336B87;
    background-color: #336B87;
}

.description p{
    font-size: 14px;
    line-height: 1em;
    margin: 5px 0px;
}

.titles{
    color: #783929;
    font-style: italic;
}

.bold{
    font-weight: 600;
}

.contactIcon img{
    height: auto;
    margin: 2px;
    max-width: 33px;

}

hr{
    border: 1px solid #783929;
    position: relative;
}

/* estilo del contacto */


/* estilo de timeline */
textarea.materialize-textarea{
    border: 1px solid#336B87;
}



